body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
}

/* Дополнительные шрифты */
/* font-family: 'Roboto', sans-serif;
  font-family: 'Kaushan Script', cursive; */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* Container */

.page {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Header */
.header {
  width: 100%;
  padding-top: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header.fixed {
  background-color: #e98383;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translate3d(0, 0, 0);
  /* Чтобы меню не "дёргалось" при скролле: */
  padding: 10px 0;
}

.header.active {
  background-color: #e98383;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

/* Nav */
.navbar {
  display: flex;
  align-items: center;
}

.nav {
  font-size: 14px;
  text-transform: uppercase;
}

/* .nav-toggle.active .header__inner {
  background-color: #e98383;
} */

.nav__link {
  display: inline-block;
  vertical-align: top;
  color: #fff;
  position: relative;
  transition: color .2s linear;
}

.nav__link:not(:last-child) {
  margin-right: 60px;
}

.nav__link.active {
  color: #fce38a;
}

.nav__link:hover {
  color: #fce38a;
}

.nav__link::after {
  content: '';
  height: 3px;
  width: 100%;
  position: absolute;
  left: 0;
  /* bottom: 0; */
  top: 100%;
  background-color: #fce38a;
  opacity: 0;
  transition: opacity .2s linear;
}

.nav__link.active::after,
.nav__link:hover::after {
  opacity: 1;
}

.nav__icons {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  margin-left: 45px;
}

.nav__icons-item:not(:last-child) {
  margin-right: 30px;
}

.nav__icon {
  padding: 10px;
}

.cls-1 {
  height: 21px;
  width: 21px;
  vertical-align: text-bottom;
  fill: #fff;
  fill-rule: evenodd;
  transition: fill .2s linear;
}

.nav__icon:hover .cls-1 {
  fill: #fce38a;
}

/* Nav toggle */

.nav-toggle {
  width: 30px;
  padding: 10px 0;
  display: none;
  font-size: 0;
  color: transparent;
  border: 0;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 22px;
  right: 20px;
  z-index: 1;
}

.nav-toggle:focus {
  outline: 0;
}

.nav-toggle__item {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  transition: background .2s linear;
}

.nav-toggle.active .nav-toggle__item {
  background: none;
}

.nav-toggle__item::before,
.nav-toggle__item::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 0;
  z-index: 1;
  transition: transform .2s linear;
}

.nav-toggle__item::before {
  top: -8px;
}

.nav-toggle__item::after {
  bottom: -8px;
}

.nav-toggle.active .nav-toggle__item::before {
  transform-origin: left top;
  transform: rotate(45deg) translateY(-3px);
  /* transform: rotate(45deg) translate3d(0, -2px, 0); */
}

.nav-toggle.active .nav-toggle__item::after {
  transform-origin: left bottom;
  transform: rotate(-45deg) translateY(3px);
  /* transform: rotate(-45deg) translate3d(0, 3px, 0); */
}

/* Intro */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  min-height: 820px;
  position: relative;
  background: url('../images/intro.jpg') center no-repeat;
  background-size: cover;
}

.intro__inner {
  width: 80%;
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
}

.intro__suptitle {
  font-family: 'Kaushan Script', cursive;
  font-size: 72px;
  color: #fff;
  margin-bottom: 15px;
}

.intro__title {
  font-size: 150px;
  font-weight: 700;
  color: #fff;
  line-height: 140px;
  text-transform: uppercase;
}

.intro__title::after {
  content: '';
  display: block;
  height: 3px;
  width: 60px;
  margin: 60px auto;
  background-color: #fff;
  top: 100%;
}

/* Button */
.btn {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  margin: 0 auto;
  border: 3px solid #fff;
  padding: 8px 30px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  transition: color .2s linear, background-color .2s linear;
}

.intro__btn:hover {
  color: #666;
  background-color: #fff;
}

/* Slider */
.intro__slider {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.slider__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slider__item {
  width: 23%;
  font-size: 18px;
  padding: 20px 0;
  border-top: 3px solid #fff;
  opacity: .7;
  position: relative;
  color: #fff;
  text-transform: uppercase;
}

.slider__item.active {
  opacity: 1;
}

.slider__item.active::before {
  content: '';
  display: block;
  width: 70px;
  height: 3px;
  position: absolute;
  top: -3px;
  left: 0;
  z-index: 1;
  background-color: #f38181;
}

.slider__number {
  font-size: 24px;
  font-weight: 700;
}

/* Section */
.section {
  padding-top: 80px;
  padding-bottom: 100px;
}

.section--devices {
  background: url('../images/design/background.jpg') center no-repeat;
  background-size: cover;
  padding-bottom: 0;
  margin-bottom: 40px;
}

.section--gray {
  background-color: #f8f8f8;
  padding: 70px 0;
}

.section--clients {
  background: #d9d9d9 url('../images/happy_clients/bg.jpg') no-repeat center;
  background-size: cover;
}

.section__header {
  width: 100%;
  max-width: 960px;
  margin: 0 auto 50px;
  text-align: center;
}

.section__suptitle {
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
}

.section__title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.section__title::after {
  content: '';
  display: block;
  height: 3px;
  width: 60px;
  margin: 30px auto;
  background-color: #f38181;
  top: 100%;
}

.section__text {
  font-family: 'Roboto', sans-serif;
  padding: 0 20px;
  font-size: 15px;
  color: #999;
}

/* Story about us */
.card {
  margin: 0 -15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 0;
}

.card__item {
  width: 33.33333%;
  padding: 0 15px;
}

.card__inner {
  background-color: #95e1d3;
  position: relative;
}

.card__inner:hover .card__img {
  transform: translate3d(-10px, -10px, 0);
}

.card__inner:hover .card__text {
  opacity: 1;
}

.card__inner:hover .card__img img {
  cursor: pointer;
  opacity: .35;
}

.card__img {
  background: linear-gradient(to bottom, #f38181, #fce38a);
  transition: transform .2s linear;
}

.card__img img {
  display: block;
  max-width: 100%;
  height: auto;
  transition: opacity .1s linear;
}

.card__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translate3d(0, -50%, 0);
  transition: opacity .2s linear;
  cursor: pointer;
}

.card__text-img {
  margin: 0 auto;
  width: 32px;
  height: 32px;
}

/* Statistics */
.statistics {
  background-color: #95e1d3;
}

.stat {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.stat__item {
  /* Делаем колонки равной ширины: */
  flex: 1 1 0;
  border-left: 1px solid #b5eae0;
  text-align: center;
  padding: 70px 25px;
  color: #fff;
}

.stat__item:last-child {
  border-right: 1px solid #b5eae0;
}

.stat__count {
  font-size: 72px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 10px;
}

.stat__text {
  font-size: 14px;
  text-transform: uppercase;
}

/* Services */
.services {
  display: flex;
  flex-wrap: wrap;
}

.services__item {
  width: 33.33333%;
  position: relative;
  padding: 40px 30px 40px 80px;
}

.services__item--border {
  border-bottom: 1px solid #e5e5e5;
}

.services__icon {
  position: absolute;
  top: 45px;
  left: 25px;
  z-index: 1;
  user-select: none;
}

.services__title {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.services__text {
  font-family: 'Roboto', sans-serif;
  color: #999;
  margin-bottom: 0;
}

/* Devices */
.devices {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  position: relative;
}

.devices__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.devices__img--iphone {
  position: absolute;
  right: 0;
  bottom: -80px;
  z-index: 1;
}

/* What we do */
.wedo {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.wedo__item {
  width: 50%;
  padding: 0 15px;
}

.wedo__image {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Accordion */
.accordion {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.accordion__item {
  border: 1px solid #e5e5e5;
  /* Долее либо отступы между блоками, либо блоки располагаем flex'ами и используем jc: s-b */
  margin-bottom: 15px;
}

.accordion__item.active .accordion__content {
  display: block;
}

.accordion__item.active .accordion__header::after {
  margin-top: 5px;
  transform: translateY(-50%) rotate(-45deg);
}

.accordion__item.active .accordion__header {
  border-bottom-color: #e5e5e5;
}

.accordion__header {
  position: relative;
  padding: 15px 20px 15px 65px;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.accordion__header::after {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  /* margin-top: -5px; */
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 1;
  transform: translateY(-50%) rotate(135deg);
}

.accordion__icon {
  position: absolute;
  left: 20px;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}

.accordion__title {
  font-size: 14px;
  text-transform: uppercase;
}

.accordion__content {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #999;
  padding: 5px 20px;
  display: none;
}

/* Reviews */
.reviews {
  position: relative;
}

.reviews .slick-slider {
  padding: 0 110px;
}

.reviews__item {
  display: flex;
  align-items: center;
  min-height: 210px;
  padding-left: 260px;
  position: relative;
}

.reviews__icon {
  display: block;
  position: absolute;
  left: 20px;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  padding: 40px;
  border: 3px solid #95e1d3;
}

.reviews__text {
  align-self: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 24px;
  line-height: 1.5;
  color: #999;
  margin-bottom: 10px;
}

.reviews__author {
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
}

.reviews__author::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 3px;
  width: 60px;
  background-color: #f38181;
  margin-right: 5px;
}

.reviews__btn,
.slick-arrow {
  display: block;
  font-size: 0;
  color: transparent;
  border: 0;
  background: none;
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}

.slick-arrow {
  cursor: pointer;
}

.slick-arrow:focus {
  outline: none;
}

.reviews__btn::after,
.slick-arrow::after {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
}

.reviews__btn--prev,
.slick-prev {
  left: 50px;
  transform: rotate(-45deg);
}

.reviews__btn--next,
.slick-next {
  right: 50px;
  transform: rotate(135deg);
}

/* Who we are */
.social {
  display: flex;
  justify-content: center;
}

.social__item {
  width: 55px;
  height: 55px;
  color: #f38181;
  background-color: #fce38a;
  border-right: 1px solid #f9bd87;
  transition: color .2s linear, background-color .2s linear;
  font-size: 30px;
  padding: 12px 10px;
  line-height: 1;
}

.social__item:hover {
  color: #fff;
  background-color: #f38181;
}

.social__item:last-child {
  border-right: 0;
}

.card__info {
  text-align: center;
  margin-top: 25px;
}

.card__name {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.card__prof {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
  color: #999;
}

/* Logos */
.logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -15px;
}

.logos__item {
  padding: 0 15px;
}

.logos__img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Our works */
.works {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.works__col {
  flex: 1 1 0;
}

.works__item {
  position: relative;
  background: linear-gradient(to bottom, #f38181, #fce38a);
  cursor: pointer;
}

.works__item:hover .works__info {
  opacity: 1;
}

.works__item:hover .works__image {
  opacity: .20;
}

.works__image {
  display: block;
  transition: opacity .2s linear;
  max-width: 100%;
  height: auto;
}

.works__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
  position: absolute;
  text-align: center;
  padding: 0 15px;
  opacity: 0;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translate3d(0, -50%, 0);
  transition: opacity .2s linear;
  cursor: pointer;
}

.info__image {
  margin: 0 auto 20px;
  width: 30px;
  height: 30px;
}

.info__title {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.info__text {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 300;
}

/* Reviews */
.reviews__icon--avatar {
  width: 210px;
  height: 210px;
  border: 0;
  padding: 0;
}

/* Clients */
.clients {
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;

}

.clients__item {
  width: 50%;
  padding: 0 45px 0 175px;
  position: relative;
  margin-bottom: 60px;
}

.clients__photo {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 40px;
  z-index: 1;
}

.clients__name {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.clients__prof {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 300;
}

.clients__text {
  font-family: 'Roboto', sans-serif;
  color: #999;
  margin: 0;
}

.clients__text::before {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 15px 0 20px;
}

/* Our blog */
.blog {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.blog__item {
  width: 32%;
}

.blog__photo {
  position: relative;
  margin-bottom: 15px;
}

.blog__image {
  display: block;
  max-width: 100%;
  height: auto;
  transition: box-shadow .2s linear;
}

.blog__image:hover {
  box-shadow: 0 0 5px 1px #999;
}

.blog__date {
  color: #fff;
  text-align: center;
  line-height: 1.2;
  padding: 10px 15px;
  position: absolute;
  left: -10px;
  bottom: 10px;
  z-index: 1;
  background-color: #95e1d3;
  user-select: none;
}

.blog__date-day {
  font-size: 30px;
  font-weight: 700;
}

.blog__date-month {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 300;
}

.blog__title {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.blog__title a {
  color: inherit;
  text-decoration: none;
}

.blog__title a:hover {
  text-decoration: underline;
}

.blog__text {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #999;
  margin: 0;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.blog__counters {
  display: inline-block;
}

.blog__counter {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 300;
  color: #999;
  padding-left: 25px;
}

.blog__counter:not(:last-child) {
  margin-right: 25px;
}

.blog__views {
  background: url('../images/svg/latest_blog/view.svg') no-repeat left;
  user-select: none;
}

.blog__comments {
  background: url('../images/svg/latest_blog/speech.svg') no-repeat left;
}

/* Map */
/* Модификаторы стоит перенести к остальным */
.section--map {
  background: #d9d9d9 url('../images/open_map/bg.jpg') no-repeat center / cover;
  padding: 50px 0;
}

.map__header {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.map__header::after {
  content: '';
  display: block;
  height: 3px;
  width: 60px;
  margin: 20px auto 0;
  background-color: #f38181;
  top: 100%;
}

.map__header-title {
  font-size: 24px;
  font-weight: 700;
  color: #f38181;
  text-transform: uppercase;
}

.map__header-title a {
  color: inherit;
}

.map__header-title a:hover {
  text-decoration: underline;
}

/* Footer */
.footer {
  padding-top: 70px;
  background-color: #f8f8f8;
}

.footer__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 70px;
  margin: 0 -15px;
}

.footer__col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 15px;
}

.footer__col--first {
  width: 40%;
}

.footer__col--second {
  width: 30%;
}

.footer__col--third {
  width: 22.5%;
}

.footer__logo {
  font-size: 46px;
  font-weight: 700;
  color: #ccc;
  margin-bottom: 30px;
}

.footer__text {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #999;
  margin-bottom: 35px;
}

/* Footer Social */

.footer__social {
  margin-bottom: 35px;
}

.footer__social-header {
  font-size: 14px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 15px;
}

.footer__social-header b {
  font-size: 18px;
}

.footer__social-content {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 300;
  color: #999;
  display: flex;
  align-items: center;
  padding-top: 15px;
}

.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  margin-left: 15px;
  padding: 0;
}

.social__link {
  display: block;
  height: 25px;
  width: 25px;
  border-radius: 7px;
  opacity: .7;
  transition: opacity .2s linear, background-color .2s linear;
}

.social__link:hover {
  background-color: rgba(149, 225, 211, .3);
  opacity: 1;
}

.footer__social-item:not(:last-child) {
  margin-right: 5px;
}

.social--facebook {
  background: url('../images/svg/social_list/1_facebook.svg') no-repeat center;
}

.social--twitter {
  background: url('../images/svg/social_list/2_twitter.svg') no-repeat center;
}

.social--instagram {
  background: url('../images/svg/social_list/3_instagram.svg') no-repeat center;
}

.social--pinterest {
  background: url('../images/svg/social_list/4_pinterest.svg') no-repeat center;
}

.social--google-plus {
  background: url('../images/svg/social_list/5_google_plus.svg') no-repeat center;
}

.social--youtube {
  background: url('../images/svg/social_list/6_youtube.svg') no-repeat center;
}

.social--dribbble {
  background: url('../images/svg/social_list/7_dribbble.svg') no-repeat center;
}

.social--tumblr {
  background: url('../images/svg/social_list/8_tumblr.svg') no-repeat center;
}

/* Footer Subscribe */
.subscribe {
  width: 100%;
  max-width: 380px;
  display: flex;
}

.subscribe__email {
  padding: 12px;
  border: 1px solid #e7e7e7;
  border-right: 0;
  font-size: 15px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  height: 40px;
  width: 60%;
  line-height: 1.1;
}

.subscribe__email::placeholder {
  color: #ccc;
  font-style: italic;
}

.subscribe__email:focus {
  border-color: #95e1d3;
}

.subscribe__btn {
  border-color: #95e1d3;
  background-color: #95e1d3;
  cursor: pointer;
  height: 40px;
  width: 40%;
  line-height: 1.1;
}

.subscribe__btn:hover {
  color: #95e1d3;
  background-color: #fff;
}

.subscribe__email:focus,
.subscribe__btn:focus {
  outline: none;
}

/* Footer Blogs */

.footer__title {
  margin: 20px 0 40px;
  text-transform: uppercase;
  font-size: 14px;
}

.blogs {
  margin: 0;
  padding: 0;
}

.blogs__item {
  display: flex;
  align-items: center;
}

.blogs__item img {
  display: block;
}

.blogs__item:not(:last-child) {
  margin-bottom: 30px;
}

.blogs__content {
  padding-left: 20px;
}

.blogs__title {
  /* display: block; */
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.5;
}

.blogs__title:hover {
  text-decoration: underline;
}

.blogs__title a {
  color: #333;
}

.blogs__date {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 300;
  color: #999;
  font-size: 13px;
  line-height: 24px;
}

/* Footer Instagram */
.instagram {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.instagram__item {
  /* flex: 1 1 0; */
  width: 33%;
  border-bottom: 2px solid #fff;
}

.instagram__item img {
  display: block;
  max-width: 100%;
  height: auto;
}

.instagram__more {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 13px;
  line-height: 24px;
}

.instagram__more:hover {
  text-decoration: underline;
}

/* Copyright */
.copyright {
  border-top: 1px solid #e5e5e5;
  padding: 25px 0;
}

.copyright__text {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.copyright__text a {
  color: #f38181;
}

.copyright__text a:hover {
  text-decoration: underline;
}

/* Media-запросы */

@media (max-width: 1230px) {

  /* Intro */

  .intro__suptitle {
    font-size: 52px;
  }

  .intro__title {
    font-size: 120px;
    line-height: 110px;
  }

  /* Reviews */

  .reviews__text {
    font-size: 18px;
  }

  .reviews__item {
    padding-left: 210px;
  }

  .reviews__icon--avatar {
    width: 150px;
    height: 150px;
    padding: 0;
  }
}

@media (max-width: 990px) {

  /* Intro */

  .intro__suptitle {
    font-size: 32px;
  }

  .intro__title {
    font-size: 80px;
    line-height: 75px;
  }

  /* Nav */

  .nav__link:not(:last-child) {
    margin-right: 30px;
  }

  /* Statistics */

  .stat {
    justify-content: center;
  }

  .stat__item {
    flex: none;
    width: 33.33333%;
    padding: 30px 25px;
    border: none;
  }

  .stat__item:last-child {
    border: none;
  }

  .stat__count {
    font-size: 50px;
  }

  /* Services */

  .services__item {
    width: 50%;
    padding-bottom: 0;
  }

  .services__item--border {
    border-bottom: none;
  }

  /* Clients */

  .clients {
    max-width: 600px;
    margin: 0 auto;
  }

  .clients__item {
    width: 100%;
  }

  .clients__item:last-child {
    margin-bottom: 0;
  }

  /* Footer */

  .footer__col--first {
    width: 100%;
  }

  .footer__col--second,
  .footer__col--third {
    width: 50%;
  }

  /* Instagram */

  .instagram {
    justify-content: flex-start;
  }

  .instagram__item {
    width: auto;
    border-right: 1px solid #fff;
  }
}

@media (max-width: 770px) {

  /* Intro */

  .intro {
    min-height: 650px;
  }

  .intro__suptitle {
    font-size: 26px;
  }

  .intro__title {
    font-size: 60px;
    line-height: 55px;
  }

  /* Header */

  .header {
    padding: 10px 0;
  }

  /* Nav */

  .nav {
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #e98383;
  }

  .nav.active {
    display: block;
  }

  .nav__link {
    display: block;
    margin: 0;
    padding: 8px 20px;
  }

  .nav__icons {
    margin-right: 70px;
  }

  .nav__icons-item:not(:last-child) {
    margin-right: 15px;
  }

  /* Nav toggle */

  .nav-toggle {
    display: block;
  }

  /* Slider */

  .slider__text {
    display: none;
  }

  .slider__item.active::before {
    width: 50%;
  }

  /* Section */
  .section {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .section--devices {
    padding-bottom: 0;
  }

  .section__title::after {
    margin: 15px auto;
  }

  /* Card */

  .card {
    justify-content: center;
  }

  .card__item {
    width: 100%;
    max-width: 410px;
  }

  .card__item:not(:last-child) {
    margin-bottom: 25px;
  }

  /* Services */

  .services {
    justify-content: center;
  }

  .services__item {
    width: 100%;
    max-width: 400px;
    padding-top: 20px;
    padding-left: 55px;
    padding-right: 0;
  }

  .services__item:not(:last-child) {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
  }

  .services__icon {
    left: 0;
  }

  /* What we do */

  .wedo__item {
    width: 100%;
  }

  .wedo__image {
    display: none;
  }

  /* Reviews */

  .reviews .slick-slider {
    padding: 0 15px;
  }

  .reviews__item {
    flex-direction: column;
    padding-left: 0;
  }

  .reviews__icon {
    position: static;
    margin-top: 75px;
  }

  .reviews__icon--avatar {
    padding: 0;
  }

  .reviews__text {
    font-size: 14px;
    padding: 0;
    margin-top: -30px;
  }

  .reviews__author {
    font-size: 16px
  }

  .reviews__author::before {
    width: 45px;
  }

  .slick-arrow {
    top: 18%;
  }

  .slick-prev {
    left: 35px;
  }

  .slick-next {
    right: 35px;
  }

  /* Our works */

  .works__col {
    flex: none;
    width: 50%;
  }

  /* Our blog */

  .blog {
    max-width: 380px;
    margin: 0 auto;
  }

  .blog__item {
    width: 100%;
  }

  .blog__item:not(:last-child) {
    margin-bottom: 25px;
  }

  /* Footer */

  .footer__col--second,
  .footer__col--third {
    width: 100%;
  }
}

@media (max-width: 575px) {

  /* Intro */

  .intro__suptitle {
    font-size: 20px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 40px;
  }

  /* Section */

  .section__header {
    margin-bottom: 30px;
  }

  .section__suptitle {
    font-size: 20px;
  }

  .section__title {
    font-size: 24px;
  }

  /* Statistics */

  .stat__item {
    flex: none;
    width: 100%;
    padding: 10px 10px;
  }

  .stat__item:not(:last-child) {
    border-bottom: 1px solid #b5eae0;
  }

  .stat__count {
    font-size: 30px;
  }

  .stat__text {
    font-size: 12px;
  }

  /* Devices */

  .devices {
    max-width: 320px;
  }

  .devices__img--iphone {
    width: 160px;
    bottom: -50px;
    right: -25px;
  }

  /* Reviews */

  .reviews__icon {
    padding: 10px;
    margin-top: 50px;
  }

  /* Logos */

  .logos {
    flex-wrap: wrap;
    justify-content: center;
  }

  .logos__item {
    width: 50%;
    margin-bottom: 15px;
  }

  .logos__img {
    margin: 0 auto;
  }

  /* Our works */

  .works__col {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
  }

  .works__info {
    padding: 0 10px;
  }

  .info__image {
    margin-bottom: 10px;
  }

  .info__title {
    font-size: 12px;
  }

  .info__text {
    font-size: 12px;
  }

  /* Clients */

  .clients__item {
    padding: 0 10px;
    text-align: center;
  }

  .clients__photo {
    position: static;
  }

  .clients__text::before {
    margin: 15px auto 20px;
  }

  /* Footer Blogs */

  .blogs__image {
    width: 80px;
    height: 50px;
  }

  .blogs__title {
    font-size: 10px;
    line-height: 1.3;
  }

  /* Footer Subscribe */

  .subscribe {
    flex-wrap: wrap;
    max-width: none;
  }

  .subscribe__email {
    margin-bottom: 10px;
    border-right: 1px solid #e7e7e7;
  }

  .subscribe__email,
  .subscribe__btn {
    width: 100%;
  }
}